## 22-Pandas Giriş

In [1]:
import numpy as np
import pandas as pd

## Series/Seriler

In [3]:
ornekSozluk = {"Ali":40, "Ayşe":30, "Hatice": 50}

In [4]:
pd.Series(ornekSozluk)

Ali       40
Ayşe      30
Hatice    50
dtype: int64

In [5]:
ornekYaslar = [40,30,50]
ornekIsimler = [ "Ali", "Ayşe", "Hatice"]

In [8]:
pd.Series(ornekYaslar)  # etiketli yani dictionary gibi verilmediği zaman, index'i kendi atar verilere

0    40
1    30
2    50
dtype: int64

In [9]:
pd.Series(ornekYaslar, ornekIsimler)

Ali       40
Ayşe      30
Hatice    50
dtype: int64

In [10]:
pd.Series(data=ornekYaslar, index=ornekIsimler)

Ali       40
Ayşe      30
Hatice    50
dtype: int64

In [11]:
numpyDizisi = np.array([40,30,50])

In [12]:
numpyDizisi

array([40, 30, 50])

In [13]:
pd.Series(numpyDizisi)

0    40
1    30
2    50
dtype: int32

In [14]:
pd.Series(numpyDizisi, ornekIsimler)

Ali       40
Ayşe      30
Hatice    50
dtype: int32

In [15]:
# Series'e int değil de başka data type'larla da data girilebilir.

In [16]:
pd.Series(["Ali", "Ayşe", "Osman"])

0      Ali
1     Ayşe
2    Osman
dtype: object

In [19]:
pd.Series(["Ali", "Ayşe", "Osman"], [1,2,3])   # indexler de manuel girilebilir.
# Önceki örnekte veri int, index str idi; bu örnekte veri str, index int oldu

1      Ali
2     Ayşe
3    Osman
dtype: object

In [20]:
yarismaSonucu1 = pd.Series([100, 50, 80], ["Ali", "Ayşe", "Osman"])

In [21]:
yarismaSonucu1

Ali      100
Ayşe      50
Osman     80
dtype: int64

In [22]:
yarismaSonucu2 = pd.Series( [70, 90, 30], ["Ali", "Ayşe", "Osman"])

In [23]:
yarismaSonucu2

Ali      70
Ayşe     90
Osman    30
dtype: int64

In [24]:
yarismaSonucu2["Osman"]

30

In [25]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [26]:
sonSonuc

Ali      170
Ayşe     140
Osman    110
dtype: int64

In [28]:
series1 = pd.Series([20,30,40,50],["a", "b", "c", "d"])

In [29]:
series2 = pd.Series([10,5,3,1], ["a", "c", "f", "g"])

In [30]:
series1 + series2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64