## 23-DataFramePandas

In [180]:
import numpy as np
import pandas as pd

In [181]:
## DataFrame: serilerin yanyana gelmesiyle oluşturulmuş bir Excel tablosu gibi düşünülebilir

In [182]:
data = np.random.randn(4,3)  ## normal distribution ile 4e 3 bir matrix verir

In [183]:
data

array([[ 0.65324135,  0.81086295, -0.6135493 ],
       [-0.77846891, -1.32956138,  0.21471379],
       [ 0.39907474, -1.08080322, -0.29779868],
       [-2.12864309, -1.39460539,  1.53574712]])

In [184]:
dataFrame = pd.DataFrame(data)

In [185]:
dataFrame

          0         1         2
0  0.653241  0.810863 -0.613549
1 -0.778469 -1.329561  0.214714
2  0.399075 -1.080803 -0.297799
3 -2.128643 -1.394605  1.535747

In [186]:
dataFrame[0]   # ilk column'ı getirir.. matrixteki gibi row'u getirmez..

0    0.653241
1   -0.778469
2    0.399075
3   -2.128643
Name: 0, dtype: float64

In [187]:
type(dataFrame)   ## Bir series'dir

pandas.core.frame.DataFrame

In [188]:
# DataFrame'lere index nasıl atanır?

In [189]:
dataFrame1 = pd.DataFrame(data, index=["Ali", "Ayşe", "Hatice", "Said"], columns=["Maaş", "Yaş", "Çalışma saati"])

In [190]:
dataFrame1

            Maaş       Yaş  Çalışma saati
Ali     0.653241  0.810863      -0.613549
Ayşe   -0.778469 -1.329561       0.214714
Hatice  0.399075 -1.080803      -0.297799
Said   -2.128643 -1.394605       1.535747

In [191]:
dataFrame1["Yaş"]

Ali       0.810863
Ayşe     -1.329561
Hatice   -1.080803
Said     -1.394605
Name: Yaş, dtype: float64

In [192]:
## dataFrame1["Said"]   ==> # Hata veriyor, row alınmıyor

In [193]:
dataFrame1[["Maaş" , "Yaş"]]

            Maaş       Yaş
Ali     0.653241  0.810863
Ayşe   -0.778469 -1.329561
Hatice  0.399075 -1.080803
Said   -2.128643 -1.394605

In [194]:
dataFrame1.loc["Said"]   #loc, location yazınva hata vermden ilgili row'u getirir

Maaş            -2.128643
Yaş             -1.394605
Çalışma saati    1.535747
Name: Said, dtype: float64

In [195]:
dataFrame1.loc["Ali"]

Maaş             0.653241
Yaş              0.810863
Çalışma saati   -0.613549
Name: Ali, dtype: float64

In [196]:
dataFrame1.iloc[1] # iloc ==> index location.. row getirir

Maaş            -0.778469
Yaş             -1.329561
Çalışma saati    0.214714
Name: Ayşe, dtype: float64

In [197]:
dataFrame1["Emeklilik yaşı"] = dataFrame1["Yaş"] + dataFrame1["Yaş"]

In [198]:
dataFrame1

            Maaş       Yaş  Çalışma saati  Emeklilik yaşı
Ali     0.653241  0.810863      -0.613549        1.621726
Ayşe   -0.778469 -1.329561       0.214714       -2.659123
Hatice  0.399075 -1.080803      -0.297799       -2.161606
Said   -2.128643 -1.394605       1.535747       -2.789211

In [199]:
# column silme nasıl yapılır? axis=1 diyerek silerek

dataFrame1.drop("Emeklilik yaşı", axis=1)

            Maaş       Yaş  Çalışma saati
Ali     0.653241  0.810863      -0.613549
Ayşe   -0.778469 -1.329561       0.214714
Hatice  0.399075 -1.080803      -0.297799
Said   -2.128643 -1.394605       1.535747

In [200]:
# row silme nasıl yapılır?   axis= 0  diyerek silme işlemi yapılır

In [201]:
dataFrame1.drop("Hatice", axis=0)

          Maaş       Yaş  Çalışma saati  Emeklilik yaşı
Ali   0.653241  0.810863      -0.613549        1.621726
Ayşe -0.778469 -1.329561       0.214714       -2.659123
Said -2.128643 -1.394605       1.535747       -2.789211

In [202]:
dataFrame1

            Maaş       Yaş  Çalışma saati  Emeklilik yaşı
Ali     0.653241  0.810863      -0.613549        1.621726
Ayşe   -0.778469 -1.329561       0.214714       -2.659123
Hatice  0.399075 -1.080803      -0.297799       -2.161606
Said   -2.128643 -1.394605       1.535747       -2.789211

In [203]:
dataFrame1.drop("Emeklilik yaşı", axis=1, inplace= True)  # içinde bu işlemi yap, serielere uygula,, demektir. 
## inplace  yazılmazsa orijinal dosya sabit kalır, yazılırsa orijinal dosyada değişiklik yapılır

In [204]:
dataFrame1.loc["Said"]

Maaş            -2.128643
Yaş             -1.394605
Çalışma saati    1.535747
Name: Said, dtype: float64

In [205]:
dataFrame1.loc["Said"]["Maaş"]

-2.1286430869919033

In [206]:
dataFrame1.loc["Said"]["Yaş"]

-1.3946053874520075

In [207]:
dataFrame1.loc["Said", "Maaş"]

-2.1286430869919033

In [208]:
dataFrame1

            Maaş       Yaş  Çalışma saati
Ali     0.653241  0.810863      -0.613549
Ayşe   -0.778469 -1.329561       0.214714
Hatice  0.399075 -1.080803      -0.297799
Said   -2.128643 -1.394605       1.535747

In [209]:
#0'dan küçük değerleri bulmak için:
booleanFrame= dataFrame1 < 0

In [210]:
booleanFrame

         Maaş    Yaş  Çalışma saati
Ali     False  False           True
Ayşe     True   True          False
Hatice  False   True           True
Said     True   True          False

In [211]:
dataFrame1

            Maaş       Yaş  Çalışma saati
Ali     0.653241  0.810863      -0.613549
Ayşe   -0.778469 -1.329561       0.214714
Hatice  0.399075 -1.080803      -0.297799
Said   -2.128643 -1.394605       1.535747

In [212]:
dataFrame1[booleanFrame]     ## filtreleme yapılır: sadece 0'dan küçük olanların değerlerini getirir

## Bunu : dataFrame1[ dataFrame1 < 0]   : olarak da yazılabilir. Aynı sonucu getirir

            Maaş       Yaş  Çalışma saati
Ali          NaN       NaN      -0.613549
Ayşe   -0.778469 -1.329561            NaN
Hatice       NaN -1.080803      -0.297799
Said   -2.128643 -1.394605            NaN

In [213]:
## Bu tarz işlemler columnlar arasında yapılabilir mi?

In [214]:
dataFrame1["Yaş"]

Ali       0.810863
Ayşe     -1.329561
Hatice   -1.080803
Said     -1.394605
Name: Yaş, dtype: float64

In [215]:
dataFrame1["Yaş"] > 0

Ali        True
Ayşe      False
Hatice    False
Said      False
Name: Yaş, dtype: bool

In [216]:
dataFrame1[dataFrame1["Yaş"] > 0] #Yaş column'u 0'dan büyük olanları getirir, 0'dan küçük olan row'ları siler, getirmez.

         Maaş       Yaş  Çalışma saati
Ali  0.653241  0.810863      -0.613549

In [217]:
dataFrame1[dataFrame1["Çalışma saati"] > 0]

          Maaş       Yaş  Çalışma saati
Ayşe -0.778469 -1.329561       0.214714
Said -2.128643 -1.394605       1.535747

## Index nasıl değiştirilir?

In [218]:
dataFrame1.reset_index()      # soldaki isim olan index yerine 0,1,2.. geldi. İsim index'i column oldu

    index      Maaş       Yaş  Çalışma saati
0     Ali  0.653241  0.810863      -0.613549
1    Ayşe -0.778469 -1.329561       0.214714
2  Hatice  0.399075 -1.080803      -0.297799
3    Said -2.128643 -1.394605       1.535747

In [219]:
## dataFrame1 'i çağırırsak yine eski haline döner, index'i isimler olarak verir. 
## Kalıcı değişiklik için inplace kullanmak gerekir

In [220]:
yeniIndexListesi = ["Ali", "Ayş", "Hat", "Sai"]

In [221]:
dataFrame1["Yeni Index"] = yeniIndexListesi

In [222]:
dataFrame1

            Maaş       Yaş  Çalışma saati Yeni Index
Ali     0.653241  0.810863      -0.613549        Ali
Ayşe   -0.778469 -1.329561       0.214714        Ayş
Hatice  0.399075 -1.080803      -0.297799        Hat
Said   -2.128643 -1.394605       1.535747        Sai

In [223]:
dataFrame1.set_index("Yeni Index")  # dataframe'ın index'i hangi column olacak onu belirtir.

                Maaş       Yaş  Çalışma saati
Yeni Index
Ali         0.653241  0.810863      -0.613549
Ayş        -0.778469 -1.329561       0.214714
Hat         0.399075 -1.080803      -0.297799
Sai        -2.128643 -1.394605       1.535747

In [224]:
dataFrame1 ## Eski haline dönmüş

            Maaş       Yaş  Çalışma saati Yeni Index
Ali     0.653241  0.810863      -0.613549        Ali
Ayşe   -0.778469 -1.329561       0.214714        Ayş
Hatice  0.399075 -1.080803      -0.297799        Hat
Said   -2.128643 -1.394605       1.535747        Sai

In [225]:
## Bu değişikliği kalıcı yapmak için:

In [226]:
dataFrame1.set_index("Yeni Index", inplace=True )  
#değişiklik kalıcı olarak yapılacak

In [227]:
dataFrame1

                Maaş       Yaş  Çalışma saati
Yeni Index
Ali         0.653241  0.810863      -0.613549
Ayş        -0.778469 -1.329561       0.214714
Hat         0.399075 -1.080803      -0.297799
Sai        -2.128643 -1.394605       1.535747

In [228]:
dataFrame1.loc["Ayş"] # Ayş row'undaki bilgileri getirir

Maaş            -0.778469
Yaş             -1.329561
Çalışma saati    0.214714
Name: Ayş, dtype: float64

## Multi Index:

In [229]:
ilkIndexler = ["Babamın gölgesi","Babamın gölgesi","Babamın gölgesi","Erdem","Erdem","Erdem",]

In [230]:
icIndexler = ["Zeyneb","Osman","Mehmet", "Zepi", "Arif", "Kurtçuk"]

In [231]:
birlesmisIndex =  list(zip(ilkIndexler, icIndexler))

In [232]:
birlesmisIndex

[('Babamın gölgesi', 'Zeyneb'),
 ('Babamın gölgesi', 'Osman'),
 ('Babamın gölgesi', 'Mehmet'),
 ('Erdem', 'Zepi'),
 ('Erdem', 'Arif'),
 ('Erdem', 'Kurtçuk')]

In [233]:
birlesmisIndex2 = pd.MultiIndex.from_tuples(birlesmisIndex)

In [234]:
birlesmisIndex2

MultiIndex([('Babamın gölgesi',  'Zeyneb'),
            ('Babamın gölgesi',   'Osman'),
            ('Babamın gölgesi',  'Mehmet'),
            (          'Erdem',    'Zepi'),
            (          'Erdem',    'Arif'),
            (          'Erdem', 'Kurtçuk')],
           )

In [235]:
cizgiFilmListesi = [[40, "A"],[10, "B"], [30, "C"], [9, "D"], [10, "E"], [11, "F"] ]

In [236]:
cizgiFilmNumpyDizisi = np.array(cizgiFilmListesi)

In [237]:
cizgiFilmDataFrame = pd.DataFrame(cizgiFilmNumpyDizisi, index=birlesmisIndex, columns= ["Yaş", "Meslek"])

In [244]:
cizgiFilmDataFrame

                          Yaş Meslek
(Babamın gölgesi, Zeyneb)  40      A
(Babamın gölgesi, Osman)   10      B
(Babamın gölgesi, Mehmet)  30      C
(Erdem, Zepi)               9      D
(Erdem, Arif)              10      E
(Erdem, Kurtçuk)           11      F

In [243]:
cizgiFilmDataFrame.loc["Babamın gölgesi"]

<class 'KeyError'>: 'Babamın gölgesi'

In [245]:
cizgiFilmDataFrame.loc["Babamın gölgesi"].loc["Osman"]

<class 'KeyError'>: 'Babamın gölgesi'

In [246]:
cizgiFilmDataFrame

                          Yaş Meslek
(Babamın gölgesi, Zeyneb)  40      A
(Babamın gölgesi, Osman)   10      B
(Babamın gölgesi, Mehmet)  30      C
(Erdem, Zepi)               9      D
(Erdem, Arif)              10      E
(Erdem, Kurtçuk)           11      F

In [247]:
cizgiFilmDataFrame.index.names = ["Film adı", "İsim"]

<class 'ValueError'>: Length of new names must be 1, got 2

In [248]:
cizgiFilmDataFrame

                          Yaş Meslek
(Babamın gölgesi, Zeyneb)  40      A
(Babamın gölgesi, Osman)   10      B
(Babamın gölgesi, Mehmet)  30      C
(Erdem, Zepi)               9      D
(Erdem, Arif)              10      E
(Erdem, Kurtçuk)           11      F