## 25-PandasOperationsDevam:

In [9]:
import numpy as np
import pandas as pd

In [10]:
## Farklı DataFrame'ler birleştirme, yanyana koyma nasıl yapılır?

In [11]:
sozluk1 = {"İsim": ["Ahmet", "Mehmet", "Zeyneb", "Ali"],
           "Spor": ["Koşu", "Yüzme", "Koşu", "Basketbol"],
           "Kalori": [100,200,300,400]}

In [12]:
dataFrame1 = pd.DataFrame(sozluk1, index=[0,1,2,3])

In [13]:
dataFrame1

     İsim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeyneb       Koşu     300
3     Ali  Basketbol     400

In [14]:
sozluk2 = {"İsim": ["Osman", "Levent", "Alper", "Fatma"],
           "Spor": ["Koşu", "Yüzme", "Koşu", "Basketbol"],
           "Kalori": [200,100,50,300]}

In [15]:
dataFrame2 = pd.DataFrame(sozluk2, index=[4,5,6,7])

In [16]:
dataFrame2

     İsim       Spor  Kalori
4   Osman       Koşu     200
5  Levent      Yüzme     100
6   Alper       Koşu      50
7   Fatma  Basketbol     300

In [19]:
sozluk3 = {"İsim": ["Ayşe", "Mahmut", "Duygu", "Nur"],
           "Spor": ["Koşu", "Yüzme", "Badminton", "Tenis"],
           "Kalori": [300,400,500,250]}

In [21]:
dataFrame3 = pd.DataFrame(sozluk3, index=[8,9,10,11])

## concatenation:

In [26]:
# eğer dataFrame yapıları aynıysa rahatlıkla concat() kullanılabilir
# concat(liste)  ==>   argument oarak bir liste alır. Bu listede birleştirilece data frame'ların ismi vardır.

In [25]:
pd.concat([dataFrame1,dataFrame2,dataFrame3])

      İsim       Spor  Kalori
0    Ahmet       Koşu     100
1   Mehmet      Yüzme     200
2   Zeyneb       Koşu     300
3      Ali  Basketbol     400
4    Osman       Koşu     200
5   Levent      Yüzme     100
6    Alper       Koşu      50
7    Fatma  Basketbol     300
8     Ayşe       Koşu     300
9   Mahmut      Yüzme     400
10   Duygu  Badminton     500
11     Nur      Tenis     250

In [28]:
pd.concat([dataFrame1,dataFrame2,dataFrame3], axis=0)   ## axis=1 denseydi yanyana koymaya çalışacaktı, o da birçok Nan verirdi

      İsim       Spor  Kalori
0    Ahmet       Koşu     100
1   Mehmet      Yüzme     200
2   Zeyneb       Koşu     300
3      Ali  Basketbol     400
4    Osman       Koşu     200
5   Levent      Yüzme     100
6    Alper       Koşu      50
7    Fatma  Basketbol     300
8     Ayşe       Koşu     300
9   Mahmut      Yüzme     400
10   Duygu  Badminton     500
11     Nur      Tenis     250

## merge

In [30]:
# Birleştirmek, kaynaştırmak anlamında. 
# İki ayrı data frame2deki ortak column üzerinden data frame'leri birleştirip tek data frame elde etmek

In [31]:
mergeSozluk1 = {"İsim": ["Ahmet", "Mehmet", "Zeyneb", "Ali"],
           "Spor": ["Koşu", "Yüzme", "Koşu", "Basketbol"]}

In [32]:
mergeDataFrame1 = pd.DataFrame(mergeSozluk1)

In [33]:
mergeDataFrame1

     İsim       Spor
0   Ahmet       Koşu
1  Mehmet      Yüzme
2  Zeyneb       Koşu
3     Ali  Basketbol

In [35]:
mergeSozluk2 = {"İsim": ["Ahmet", "Mehmet", "Zeyneb", "Ali"],
            "Kalori": [100,200,150,250]}

In [36]:
mergeDataFrame2 = pd.DataFrame(mergeSozluk2)

In [37]:
mergeDataFrame2

     İsim  Kalori
0   Ahmet     100
1  Mehmet     200
2  Zeyneb     150
3     Ali     250

In [39]:
# merge() argument olarak birleştirilecek data frameler ve 
# "on" ifadesi ile hangi ortak column üzerinden birleştirme yapılacak belirtilir.

pd.merge(mergeDataFrame1, mergeDataFrame2, on = "İsim")

     İsim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeyneb       Koşu     150
3     Ali  Basketbol     250

## Pandas İleri Operasyonlar

In [40]:
# Püf noktalar

In [41]:
# Örneğin bir veri setinden tekrar etmeyen değerler nasıl alınır?

In [42]:
maasSozluk = { "Çalışan İsimleri": ["Ahmet", "Mehmet", "Ali", "Zeyneb"],
    "Departman" :["Yazılım", "Satış", "Pazarlama", "Yazılım"],
    "Maaş": [100,200,300,400]}

In [43]:
maasDataFrame = pd.DataFrame(maasSozluk)

In [44]:
maasDataFrame

  Çalışan İsimleri  Departman  Maaş
0            Ahmet    Yazılım   100
1           Mehmet      Satış   200
2              Ali  Pazarlama   300
3           Zeyneb    Yazılım   400

In [45]:
maasDataFrame["Departman"]

0      Yazılım
1        Satış
2    Pazarlama
3      Yazılım
Name: Departman, dtype: object

In [48]:
maasDataFrame["Departman"].unique() # tekrar etmeden departmanları getirir

array(['Yazılım', 'Satış', 'Pazarlama'], dtype=object)

In [49]:
maasDataFrame["Departman"].nunique() # number of unique departmants

3

In [51]:
maasDataFrame["Departman"].value_counts()  # her departmandan kaç tane var

Yazılım      2
Satış        1
Pazarlama    1
Name: Departman, dtype: int64

In [55]:
def bruttenNete(maas):
    return maas * 0.66

In [56]:
maasDataFrame["Maaş"]

0    100
1    200
2    300
3    400
Name: Maaş, dtype: int64

In [59]:
maasDataFrame["Maaş"].apply(bruttenNete)  # normal bir fonksiyonu bütün column'a uygulamak için: "apply()" kullanılır

0     66.0
1    132.0
2    198.0
3    264.0
Name: Maaş, dtype: float64

In [61]:
#null değer var mı?
maasDataFrame.isnull()

   Çalışan İsimleri  Departman   Maaş
0             False      False  False
1             False      False  False
2             False      False  False
3             False      False  False

In [64]:
# Pivot table: Excel'de kullanılır. Burda da kullanılabilir

In [68]:
yeniSozluk = {"Karakterler" : ["Erdem", "Babamın Gölgesi", "Maysa", "Erdem"],
             "Karakter İsmi": ["Zepi", "Osman", "Bulut", "Arif"],
             "Karakter Yaşı": [11, 13, 17, 27]}

In [69]:
karakterDF = pd.DataFrame(yeniSozluk)

In [70]:
karakterDF

       Karakterler Karakter İsmi  Karakter Yaşı
0            Erdem          Zepi             11
1  Babamın Gölgesi         Osman             13
2            Maysa         Bulut             17
3            Erdem          Arif             27

In [74]:
karakterDF.pivot_table(values="Karakter Yaşı",index= ["Karakterler", "Karakter İsmi"]  )

                               Karakter Yaşı
Karakterler     Karakter İsmi
Babamın Gölgesi Osman                     13
Erdem           Arif                      27
                Zepi                      11
Maysa           Bulut                     17

In [77]:
# Pivot table kullanmanın amacı multi  index değil.
# aggfunc()'da belirtmezsek ortalamasını alıyor

In [76]:
karakterDF.pivot_table(values="Karakter Yaşı",index= ["Karakterler", "Karakter İsmi"], aggfunc=np.sum  )

                               Karakter Yaşı
Karakterler     Karakter İsmi
Babamın Gölgesi Osman                     13
Erdem           Arif                      27
                Zepi                      11
Maysa           Bulut                     17