## 26-PandasExcel

In [1]:
# veriler Excel formatında gelirse ne yapılmalı?
# veri eksik gelirse ne yapmalı?

In [1]:
import pandas as pd
## dosya okuyabilmesi için piplite ile bazı package lar indirilmesi gerek:
import piplite
await piplite.install('seaborn')
await piplite.install('openpyxl')
import seaborn as sbn

In [6]:
dataFrame = pd.read_excel("maas.xlsx")  # maas.xlsx dosyası aynı folder'da olmalı ki okuyabilsin
dataFrame

,TL ÖZEL CARİ HESAP,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Hesap No/Şube Adı,Hesap Adı,Hesap Türü,Bakiye,Kullanılabilir Bakiye,NaN
1,97-1818181-4/QQQ ŞUBESİ,TL Cari Hesap,CH,0.00 TL,0.00 TL,NaN
2,TRQQ 0020 3000 0180 YYYY 0000 OO,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,YP KATILIM HESABI,NaN,NaN,NaN,NaN,NaN
6,Hesap No/Şube Adı,Hesap Adı,Hesap Türü,Vade Tipi,Bakiye,Vade Tarihi
7,97-1818181-4/QQQ ŞUBESİ,Katılma Hesabı,KH,1 Ay,50 USD,2015-06-25 00:00:00
8,TRQQ 0020 3000 0180 YYYY 0000 OO,NaN,NaN,NaN,NaN,NaN
9,97-1818181-5/QQQ ŞUBESİ,Katılma Hesabı,KH,1 Ay,50 EUR,2015-06-25 00:00:00
10,TRQQ 0020 3000 0180 YYYY 0000 OO,NaN,NaN,NaN,NaN,NaN

In [8]:
# Nan değerleri row olarak silelim.
doluDegerlerDF = dataFrame.dropna()

In [9]:
#mevcud dataFrame'i Excel kaydetme

doluDegerlerDF.to_excel("yenimaas.xlsx")  # output'u yazdıracak dosya ismi bulunması gerekiyor

In [5]:
# bazen Excel dosyaları csv formatında gelir. O zaman okumak için read_csv(), yazmak için to_csv() kullanmak yeterlidir